<!DOCTYPE html>
<html>
  <head>
    <title>Marvel Wiki Search Result</title>
  </head>
  <body>
    <h2>You have researched <%= characterName %> in Marvel Wiki</h2>

    <% if (notFound) { %>
      <div>
        <h3>Case 2:</h3>
        <p>It seems that the character is not from Marvel Universe, please check your typo.</p>
      </div>
    <% } else { %>
      <div>
        <h3>Case 1:</h3>
        <p>Name: <%= name %></p>
        <p>Description: <%= description %></p>
        <p>URI: <%= uri %></p>
      </div>
    <% } %>
  </body>
</html>
