<!DOCTYPE html>
<html>
  <head>
    <title>Marvel Wiki Search</title>
    <link rel="stylesheet" type="text/css" href="/css/search.css" />
  </head>
  <body>
    <div class="container">
      <h2>Search character in Marvel Wiki</h2>
      <form method="post" action="/search">
        <input type="text" id="characterName" name="characterName" required />
        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
